/*
	- Default color escuro: #204966 (blue marine escuro)
	- Default color medio: #2A8A9D (blue marine medio)
	- Default color claro: #78B2BE (blue marine claro)
	- Segundary color: #F0F0F0 (gray) 

 */

 :root {

  --bg-color-selected: #204966; /* #2A8A9D */
  --bg-color-active: #2A8A9D; /* #78B2BE */
  --color-white: #FFFFFF;
  --color-gray: #F0F0F0;
}

#picture{
	background-image: url('../imgs/elements/reservas_btn.png');
	width: 150px;
	height: 50px;
	background-repeat:no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;	
 }

 #main_page{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.page-index{
	background: url('../imgs/backgrounds/jpg/01.jpg') no-repeat center center fixed; 
}

.page-quem-somos{
	background: url('../imgs/backgrounds/jpg/02.jpeg') no-repeat center center fixed; 
}

.page-apartamento{
	background: url('../imgs/backgrounds/jpg/03.jpg') no-repeat center center fixed; 
}

.page-barra-grande{
	background: url('../imgs/backgrounds/jpg/06.jpg') no-repeat center center fixed; 
}

.page-contato{
	background: url('../imgs/backgrounds/jpg/05.jpg') no-repeat center center fixed; 
}

html,
body {
  height: 100%;
}

.nav-custom{
	padding: 3%;
	font-family: 'sunn_line_bold';
	font-size: 30px;
	padding-top: 0%;
}

.navbar-custom {
	border-radius: 0px;
    background-color: var(--color-gray);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link{
	 background-color: var(--bg-color-active);
     color: var(--color-white);
     border-radius: 0px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item .nav-link.active{
	 background-color: var(--bg-color-selected); 
     color: var(--color-white);
     border-radius: 0px;
}

.navbar-toggler-icon{
	color: var(--color-white);
}

.nav-link{
	font-weight: bold;
	color:var(--bg-color-selected); 	
}

.button-custom{
	background-color: var(--bg-color-selected); 
}

.i-custom{
	color: var(--color-white);
	font-size:28px;
}

.img-message{
	width: 1000px;
	height: 200px;
}

.img-custom{
	height: 10px;
	width: 60px;	
}

.img-custom-2{
	height: 10px;
	width: 300px;	
}

.img-custom-m{
	/*
	margin: 25px;
	*/
	height: 150px;
	width: 100%;
	margin: 0px !important;
}

.div-custom-icons{
	padding: 5px;
}

.div-category-icons{
	width: 100%;
	margin-left: 0 !important;
	margin-right: 0!important;
}

.div-index-logo{
	width: 250px;
	height: 212px;
}

.img-sub-message{
	height: 93px;
	width: 100%;
	/*
	width: 300px;
	*/
}

.section-custom-top-5{
	/*
	margin-top: 5%;
	*/
	margin-top: 0px;

}

.nav-link-m-10{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.li-custom-m-20{
	padding-left: 40px;
	padding-right: 40px;
}

#main-content{
	border-radius: 10px;
	background-color: var(--color-white);
	/*
	opacity: 0.8;
	*/
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.navbar-custom-reserva:hover {
	 background-color: var(--bg-color-active); 
     color: var(--color-white);
     border-radius: 5px;
}

.footer-custom{
	background-color: var(--color-gray);
	/*
	opacity: 0.8;
	*/
	border-radius: 10px; 
	flex-shrink: none;
}

.btn-custom{
	background-color: var(--bg-color-selected); 
	border: 0px;
}

.btn-custom:hover{
	 background-color: var(--bg-color-active);
}

.label-custom{
	font-weight: bold;
	color: var(--color-white);
}

.p-custom{
	margin: 0px;
}

.icon-apt{
	padding: 0px;
}

.color-active{
	color: var(--bg-color-active);
}

.color-default{
	color: var(--bg-color-selected);
}

.special{
	  background-color: rgba(245, 245, 245, 1);
	  /*
	  opacity: 1
	  */
}

.social-icons{
	height: 65px; 
	width: 65px;
}

.social-icons-right{
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;

	height: 43px; 
	width: 43px;
}

.social-item-right{

	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;

	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.social-nav-right{

	padding: 15px;
}

.princial-nav{
	/*
	opacity: 0.8;
	*/
	border:0px !important;
}

.reserva-button{
	padding: 5px;
	border:0px !important;
	border-radius: 5px !important;
}

.container-content{
	flex: 1 0 auto;
}

.div-logo{
	margin-bottom: 0px;
	padding-bottom: 0px;
}


.div-categories{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 50px;
}

.splitter{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

@font-face {

    font-family: 'sunn_line_bold';
    src: url('../fonts/SUNN-Line-Bold/sunn-line-bold-webfont.woff2') format('woff2'),
         url('../fonts/SUNN-Line-Bold/sunn-line-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'impact';
    src: url('../fonts/Impact/impact-webfont.woff2') format('woff2'),
         url('../fonts/Impact/impact-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.content-titulo{
	font-weight: bold;
	color: white;
	font-family:roboto-bold,roboto,sans-serif;
	letter-spacing:0.03em;
}

.section-custom{
	background-color: white;
	/*
	opacity: 0.8;
	*/
	border-radius: 5px;
	margin-top: 15px;
}

.contato-iframe{
	border:0;
	border-radius: 5px;
	height: 350px;
	width: 100%;
}

.div-contato{
	margin-bottom: 0px !important;
	padding-right: 20px;
	padding-left: 20px;
	height: 100%;
}

.form-contato{
	margin-bottom: 0px !important;
	padding-right: 20px;
	padding-left: 20px;
}

.div-barra-grande{
	margin-bottom: 0px !important;
	padding-right: 20px;
}

.splitter-custom{
	margin-top: 0px !important;
	margin-bottom: 5px !important;
	text-align: left !important;
	padding-left: 0px;
}

.splitter-custom-apt{
	margin-top: 0px !important;
	margin-bottom: 15px !important;
	text-align: left !important;
}

.more-info{
	margin-top: 20px;
	margin-bottom: 20px;
}

.div-apt-icons{
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	text-align: left !important;
}

.titulo-apt{
	font-weight: bold;
	margin-bottom: 5px !important;
}

.info-apt-titulo{
	padding-left: 20px;
	margin-bottom: 0px !important;
}

.info-apt-div-img{
	margin-top: 0px !important;
	margin-bottom: 10px !important;
	text-align: left !important;
}

.info-apt-img{
	width: 500px;
	height: 2px;
}

.info-apt-splitter{
	width: 815px;
	height: 2px;
}

/* M A R G I N */

.m-b-75{
	margin-bottom: 75px;
}

.m-b-10{
	margin-bottom: 10px;
}

.m-b-0{
	margin-bottom: 0px !important;
}

.m-b-15{
	margin-bottom: 15px !important;
}

.m-b-30{
	margin-bottom: 30px !important;
}

.m-l-20{
	margin-left: 20px;
}

.m-t-10{
	margin-top: 10px;
}

.m-t-25{
	margin-top: 25px;
}

.m-r-15{
	margin-right: 15px;
}

.m-10{
	margin: 10px;
}

.m-0{
	margin: 0px !important;
}

/* P A D D I N G */

.p-5{
	padding: 5%;
}

.p-0{
	padding: 0px !important;
}

.p-10{
	padding: 10px;
}

.p-20{
	padding: 20px;
}

.p-15{
	padding: 15px;
}

.p-25{
	padding: 25px;
}

.p-t-0{
	padding-top: 0 !important;
}

.p-t-20{
	padding-top: 20px !important;
}

.p-t-15{
	padding-top: 15px !important;
}

.p-l-20{
	padding-left: 20px;
}

.p-r-l-0{
	padding-left: 0;
	padding-right: 0;
}

.p-b-15{
	padding-bottom: 15px !important;
}

.p-b-0{
	padding-bottom: 0px;
}

/* B O R D E R */

.b-r-5{
	border-radius: 5px;
}

.b-r-15{
	border-radius: 15px !important;
}

/* H E I G H T */

.h-100{
	height: 100%;
}

.h-500{
	height: 500% !important;
}

/* W I D T H  */

.w-100{
	width: 100%;
}

.w-300{
	width: 300px;
}

/* F O N T */

.f-s-20{
	font-size: 20px;
}

.f-s-25{
	font-size: 25px !important;
}

.f-s-35{
	font-size: 35px;
}

.f-s-40{
	font-size: 40px;
}

.f-s-50{
	font-size: 50px;
}

.f-s-60{
	font-size: 60px;
}

.f-w-b{
	font-weight: bold;
}

.f-f-custom{
	font-family: 'sunn_line_bold' !important;
}

.f-f-impact{
	font-family: 'impact' !important;
	font-weight: normal;
	/*
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	*/
}

/* A L I G N */

.t-a-l{
	text-align: left !important;
}

/**/

.float{
	position:fixed;
	bottom:0;
	right:20px;
	text-align:center;
  	font-size:30px;
  	z-index:100;
}

.my-float{
	margin-top:16px;
}