/*
	- Default color escuro: #204966 (blue marine escuro)
	- Default color medio: #2A8A9D (blue marine medio)
	- Default color claro: #78B2BE (blue marine claro)
	- Segundary color: #F0F0F0 (gray) 

 */

 :root {

  --bg-color-selected: #204966; /* #2A8A9D */
  --bg-color-active: #2A8A9D; /* #78B2BE */
  --color-white: #FFFFFF;
  --color-gray: #F0F0F0;
}

#picture{
	background-image: url('../imgs/elements/reservas_btn.png');
	width: 150px;
	height: 50px;
	background-repeat:no-repeat;
	margin-left: auto;
	margin-right: auto;
	display: block;	
 }

 #main_page{ 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}

.page-index{
	background: url('../imgs/backgrounds/jpg/01.jpg') no-repeat center center fixed; 
}

.page-quem-somos{
	background: url('../imgs/backgrounds/jpg/02.jpeg') no-repeat center center fixed; 
}

.page-apartamento{
	background: url('../imgs/backgrounds/jpg/03.jpg') no-repeat center center fixed; 
}

.page-barra-grande{
	background: url('../imgs/backgrounds/jpg/04.jpg') no-repeat center center fixed; 
}

.page-contato{
	background: url('../imgs/backgrounds/jpg/05.jpg') no-repeat center center fixed; 
}

html,
body {
  height: 100%;
}

.nav-custom{
	padding: 3%;
		font-family: 'sunn_line_bold';
	font-size: 30px;
	padding-top: 0%;
}

.navbar-custom {
	border-radius: 0px;
    background-color: var(--color-gray);
}
/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255,255,255,.8);
}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item:hover .nav-link{
	 background-color: var(--bg-color-active);
     color: var(--color-white);
     border-radius: 0px;
}

.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item .nav-link.active{
	 background-color: var(--bg-color-selected); 
     color: var(--color-white);
     border-radius: 0px;
}

.navbar-toggler-icon{
	color: var(--color-white);
}

.nav-link{
	font-weight: bold;
	color:var(--bg-color-selected); 	
}

.button-custom{
	background-color: var(--bg-color-selected); 
}

.i-custom{
	color: var(--color-white);
	font-size:28px;
}

.img-custom{
	height: 10px;
	width: 60px;	
}

.img-custom-2{
	height: 10px;
	width: 300px;	
}

.img-custom-m{

	margin: 25px;

}

.section-custom-top-5{
	/*
	margin-top: 5%;
	*/
	margin-top: 0px;

}

.nav-link-m-10{
	margin-left: 10px;
	margin-right: 10px;
	padding: 5px;
}

.li-custom-m-20{
	padding-left: 40px;
	padding-right: 40px;
}

#main-content{
	border-radius: 10px;
	background-color: var(--color-white);
	/*
	opacity: 0.8;
	*/
	margin-left: 5%;
	margin-right: 5%;
	margin-top: 5%;
}

.navbar-custom-reserva:hover {
	 background-color: var(--bg-color-active); 
     color: var(--color-white);
     border-radius: 5px;
}

.footer-custom{
	background-color: var(--color-gray);
	/*
	opacity: 0.8;
	*/
	border-radius: 10px; 
	flex-shrink: none;
}

.btn-custom{
	background-color: var(--bg-color-selected); 
	border: 0px;
}

.btn-custom:hover{
	 background-color: var(--bg-color-active);
}

.label-custom{
	font-weight: bold;
	color: var(--color-white);
}

.p-custom{
	margin: 0px;
}

.icon-apt{
	padding: 0px;
}

.color-default{
	color: var(--bg-color-selected);
}

.special{
	  background-color: rgba(245, 245, 245, 1);
	  /*
	  opacity: 1
	  */
}

.social-icons-right{
	
	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 0px;
	padding-left: 0px;

	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-top: 0px;
}

.social-item-right{

	padding-top: 0px;
	padding-bottom: 0px;
	padding-right: 10px;
	padding-left: 10px;

	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-top: 5px;
}

.social-nav-right{

	padding: 15px;
}

.princial-nav{
	/*
	opacity: 0.8;
	*/
	border:0px !important;
}

.reserva-button{
	padding: 5px;
	border:0px !important;
	border-radius: 5px !important;
}

.container-content{
	flex: 1 0 auto;
}

.div-logo{
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.p-t-20{
	padding-top: 20px;
}

.m-t-25{
	margin-top: 25px;
}

.div-categories{
	margin-bottom: 0px;
	padding-bottom: 0px;
	margin-top: 50px;
}

.m-10{
	margin: 10px;
}

.p-10{
	padding: 10px;
}

.splitter{
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.p-t-15{
	padding-top: 15px;
}

.p-25{
	padding: 25px;
}

@font-face {
    font-family: 'sunn_line_bold';
    src: url('../fonts/sunn-line-bold-webfont.woff2') format('woff2'),
         url('../fonts/sunn-line-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}





